.container {
    position: absolute;
    right: 450px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    margin: 20px;
}
/* Set a style for all buttons */
button {
    background-color:aqua(57, 135, 253);
    color: darkolivegreen;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }