<mat-card>
        <!-- <mat-card-header id="loginName">
                Sign in
       </mat-card-header> -->
    <div align="center" class="container">
        <img src="./assets/images/keep-512.png" height=15% width=15%>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>emailId</mat-label>
                    <input matInput placeholder="emailId" formControlName="emailId" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                    <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.emailId.errors.required">emailId is required</mat-error>
                        <mat-error *ngIf="f.emailId.errors">eg:abc@xyz.com</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password"
                        [type]="hide ? 'password' : 'text'" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <mat-error *ngIf="f.password.errors.required">Password is required </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-card-actions>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Login</button> &nbsp; &nbsp;
                <img *ngIf="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button [routerLink]="['/register']" class="btn btn-link">Register</button>
                <br>
                <br>
                <a [routerLink]="['/forgot-password']" class="btn btn-link">forgot Password?</a>
                <!-- <a [routerLink]="['/reset-password',12]">Resert</a> -->
            </div>
        </mat-card-actions>
        </form>
    </div>
</mat-card>