<div>
    <mat-toolbar class="navbar">
        <mat-toolbar-row>
            <!-- menu -->
            <button id="menubuttn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                matTooltip="Menu">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- Image -->
            <p fxHide.xs="true"> <span><img src="./assets/images/keep-512.png" style="width:30px;"></span></p>

            <!-- keep -->
            <p id="text" fxHide.xs="true" fxHide.xs="true">Keep</p>

            <!-- Search -->
            <div id="searchbox" fxLayout="row" fxLayoutGap="2%">
                <div fxFlex="0%">
                    <button mat-icon-button id="buttn"><i id="search" class="material-icons">search</i></button>
                </div>
                <div fxFlex="100">
                    <!-- <input id="input" type="search" placeholder="Search" name="string" (click)="searchtest()"
                            [(ngModel)]="string"> -->
                    <input type="search" style="width:400px;" href="#" placeholder="Search..." ng-model="search" />

                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- Refresh -->
            <a mat-icon-button routerLink="/home" routerLinkActive="active" matTooltip="Refresh">
                <mat-icon>refresh</mat-icon>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;


            <!-- List -->
            <a mat-icon-button routerLink="#" routerLinkActive="active" matTooltip="Lists">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'view_module' : 'view_stream'}}</mat-icon>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <!-- Settings -->
            <button mat-icon-button [matMenuTriggerFor]="settings" matTooltip="Settings">
                <mat-icon>settings</mat-icon>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <mat-menu #settings="matMenu">
                <button mat-menu-item>
                    <span>Settings</span>
                </button>
                <button mat-menu-item>
                    <span>Send feedback</span>
                </button>
                <button mat-menu-item>
                    <span>Help</span>
                </button>
                <button mat-menu-item>
                    <span>App downloads</span>
                </button>
                <button mat-menu-item>
                    <span>Keyboad Shortcuts</span>
                </button>
            </mat-menu>

            <!-- notfications -->
            <button mat-icon-button [matMenuTriggerFor]="notifications" matTooltip="notifications">
                <mat-icon>notifications_on</mat-icon>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <mat-menu #notifications="matMenu">
            </mat-menu>

            <!-- User -->
            <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="menu">
                <i id="accountcircle" class="material-icons">account_circle</i></button>
            <mat-menu #menu="matMenu" class="morecard">
                <button mat-button (click)="logout()">Sign out</button>
            </mat-menu>
            
        </mat-toolbar-row>
        
    </mat-toolbar>
   
</div>

<br>

<mat-divider>
        
</mat-divider>



<!-- side navigation bar -->
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation" id="sidenave">
        <mat-nav-list id="insidenave">
            <button mat-stroked-button id="button" (click)="notes()"><img class="image"><i class="fa fa-sticky-note-o" style="font-size:24px"></i>
                Notes</button><br>
            <button mat-stroked-button id="button"><i class="fa fa-bell" style="font-size:20px"></i>
                Reminders</button><br>
            <hr id="line">
            <div>
                <span style="margin-left: 10px">
                    <font face="arial">Label</font>
                </span> <button mat-stroked-button id="editbutton" type="button"><i class="fa fa-edit" style="font-size:20px"></i>Edit</button>
            </div>
            <div (updateClick)="refresh($event)">
                <button mat-stroked-button class="buttonn" (click)="createLabel()">
                    <img><i class="fa fa-pencil" style="font-size:20px"></i>Createnew label</button>
                <div *ngFor="let data of labelNameList">
                    <div fxLayout=row fxLayoutGap="10%">
                        <button mat-stroked-button class=labelbutton (click)="notesWithList(data)">
                            <div fxFlex="5%"><i class="material-icons">label</i></div>
                            <div fxFlex="90%" class="txtt">{{data}}</div>
                        </button>
                    </div>
                </div>
            </div>
            <hr id="line">
            <button mat-stroked-button id="button" (click)="archive()">
            <i class="fa fa-archive" style="font-size:20px"></i> Archive</button><br>
            <button mat-stroked-button id="button" (click)="trashnote()"><img class="image"
                    id="imgtrace"><i class="fa fa-trash" style="font-size:20px"></i>Trash</button><br>
            <hr id="line">
            <button mat-stroked-button id="button">
                    <i class="fa fa-settings" style="font-size:20px"></i>Settings</button><br>
                <button mat-stroked-button id="button">
                       <i class="fa fa-plane" style="font-size:20px"></i> Send
                    feedback
                </button><br>
                <button mat-stroked-button id="button">
                       <i class="fa fa-question-circle" style="font-size:24px"></i>
                        Help</button><br>
                <button mat-stroked-button id="button" href="https://play.google.com/store/apps/details?id=com.google.android.keep&hl=en_IN"><i class="fa fa-download" style="font-size:24px"></i>App
                    download
                </button><br>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <br>
        <br>
            <!-- <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <input matInput placeholder="Title">
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                  
                      <mat-form-field>
                        <input matInput placeholder="Take a note...">
                      </mat-form-field>
                    </mat-expansion-panel>
                  </mat-accordion> -->
                  <app-note-create></app-note-create>
                
                  <br>
                  <br>
                <app-notelist>
                </app-notelist>
    </mat-sidenav-content>
</mat-sidenav-container>
