<div fxLayout="row" fxLayoutAlign=" stretch">

    <mat-toolbar class="fixed-header" fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">

        <mat-toolbar-row>
            <button mat-icon-button aria-label="Toggle sidenav" (click)="toggleOnClick()" matTooltip="Menu">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <ng-template #tempTtext>

            </ng-template>
            <span><img src="./assets/images/keep-512.png" style="width:50px;"></span>
            &nbsp;&nbsp;
            <span>
                <font size="5" face="arial">FundooNote</font>
            </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


            <div class="slinput" ng-init="">

                <input class="searchBox" type="search" placeholder="Search" [(ngModel)]="searchData.data"
                    (keyup)="onStatusChanged($event)" (click)="searchState()">







            </div>

            <a mat-button routerLink="/home" routerLinkActive="active" matTooltip="Refresh">
                <mat-icon class="topButtons">refresh</mat-icon>
            </a>

            <mat-icon class="topButtons" matSuffix (click)="onChangeTheme()" matTooltip="list and grid">
                {{hide ? 'view_module' : 'view_agenda'}}</mat-icon>
            &nbsp;
            &nbsp;

            <button mat-icon-button [matMenuTriggerFor]="sett" matTooltip="settings">
                <mat-icon class="topButtons">settings</mat-icon>
            </button>
            <mat-menu class="topButtons" #sett="matMenu">
                <button mat-icon-button class="topButtons" mat-menu-item>

                    <span>Settings</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Send Feedback</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Edit Labels</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Help</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>App downloads</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Keyboard shortcuts</span>
                </button>
            </mat-menu>

            &nbsp;

            <button class="topButtons" mat-icon-button [matMenuTriggerFor]="App" matTooltip="Apps">
                <mat-icon>apps</mat-icon>
            </button>
            <mat-menu #App="matMenu" class="topButtons">
                <mat-grid-list cols="3">
                    <mat-grid-tile>

                        <button mat-button [matMenuTriggerFor]="user" matTooltip="Google account">
                            <mat-icon class="topButtons">face</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Search">
                            <mat-icon>Google</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Maps">
                            <mat-icon>Maps</mat-icon>
                        </button>

                    </mat-grid-tile>



                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Youtube">
                            <mat-icon>Youtube</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Playstore">
                            <mat-icon>Play</mat-icon>
                        </button>

                    </mat-grid-tile>


                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Gmail">
                            <mat-icon>mail</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Contacts">
                            <mat-icon>perm_contact_calendar</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Drive">
                            <mat-icon>Drive</mat-icon>
                        </button>

                    </mat-grid-tile>

                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Calender">
                            <mat-icon>calendar_today</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Google+">
                            <mat-icon>Google+</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Translate">
                            <mat-icon>translate</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Photos">
                            <mat-icon>photo</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-menu>
            <button class="topButtons" mat-button matTooltip="Notifications">
                <mat-icon>notifications_on</mat-icon>
            </button>

            <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Google account">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #user="matMenu" class="topButtons">
                <button class="topButtons" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <a mat-button routerLink="/login">
                        <span>Logout</span>
                    </a>
                </button>
                <button class="topButtons" mat-menu-item>
                    <mat-icon>user</mat-icon>
                    <a mat-button routerLink="/upload-photo">
                        <span>upload picture</span>
                    </a>
                </button>

            </mat-menu>

            <td>
                    <!-- <img [src] = "'public/img/' + user.image"/> -->
                    <img src="{{user.image}}" />



            </td>




        </mat-toolbar-row>
    </mat-toolbar>
</div>

<mat-divider></mat-divider>

<app-side-bar [toggleSidebar]="toggleNav"></app-side-bar>