<div fxLayout="row" fxLayoutAlign=" stretch">

    <mat-toolbar class="fixed-header" fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">

        <mat-toolbar-row>
            <button class="mainTogle" mat-button aria-label="Toggle sidenav" (click)="toggleOnClick()"
                matTooltip="Menu">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <ng-template #tempTtext>

            </ng-template>
            <span><img src="./assets/images/keep-512.png" class="keepImage"></span>
            <span>
                <font size="5" face="arial">FundooNote</font>
            </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


            <div class="slinput" ng-init="">

                <input class="searchBox" type="search" placeholder="Search" [(ngModel)]="searchData.data"
                    (keyup)="onStatusChanged($event)" (click)="searchState()">

            </div>

            <a mat-icon-button (click)="refreshPage()" routerLinkActive="active" matTooltip="Refresh">
                <mat-icon class="topButtons">refresh</mat-icon>
            </a>&nbsp;&nbsp;&nbsp;

            <button mat-button class="mainTogle" (click)="viewGrid()" fxHide.xs="true" fxShow.sm="false"
                fxShow.md="true" fxShow.lg="true">
                <mat-icon *ngIf="!grid">view_stream</mat-icon>
                <mat-icon *ngIf="grid">view_module</mat-icon>
            </button>&nbsp;&nbsp;&nbsp;

            <button mat-button class="topButtons" [matMenuTriggerFor]="sett" matTooltip="settings">
                <!-- <mat-icon>build</mat-icon> -->
                <i class="fa fa-cogs" style="font-size:22px;"></i>
            </button>&nbsp;&nbsp;&nbsp;
            <mat-menu class="topButtons" #sett="matMenu">
                <button mat-button class="topButtons" mat-menu-item>

                    <span>Settings</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Send Feedback</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Edit Labels</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Help</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>App downloads</span>
                </button>
                <button class="topButtons" mat-menu-item>

                    <span>Keyboard shortcuts</span>
                </button>
            </mat-menu>

            &nbsp;

            <button class="topButtons" mat-button [matMenuTriggerFor]="App" matTooltip="Apps">
                <mat-icon>apps</mat-icon>
            </button>&nbsp;&nbsp;&nbsp;
            <mat-menu #App="matMenu" class="topButtons">
                <mat-grid-list cols="3">
                    <mat-grid-tile>

                        <button mat-button [matMenuTriggerFor]="user" matTooltip="Google account">
                            <mat-icon class="topButtons">face</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Search">
                            <mat-icon>Google</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Maps">
                            <mat-icon>Maps</mat-icon>
                        </button>

                    </mat-grid-tile>



                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Youtube">
                            <mat-icon>Youtube</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Playstore">
                            <mat-icon>Play</mat-icon>
                        </button>

                    </mat-grid-tile>


                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Gmail">
                            <mat-icon>mail</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Contacts">
                            <mat-icon>perm_contact_calendar</mat-icon>
                        </button>
                    </mat-grid-tile>


                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Drive">
                            <mat-icon>Drive</mat-icon>
                        </button>

                    </mat-grid-tile>

                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Calender">
                            <mat-icon>calendar_today</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Google+">
                            <mat-icon>Google+</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>

                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Translate">
                            <mat-icon>translate</mat-icon>
                        </button>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Photos">
                            <mat-icon>photo</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-menu>
            <button class="topButtons" mat-button matTooltip="Notifications">
                <mat-icon>notifications_on</mat-icon>
            </button>&nbsp;&nbsp;&nbsp;

            <button mat-button class="topButtons" [matMenuTriggerFor]="user" matTooltip="Google account">
                <img class="image" [src]="picture?.imageSrc" alt="./assets/images/profile.png">
            </button>
            <mat-menu #user="matMenu" class="topButtons">


                <div class="container">
                    <img class="imageonClick" [src]="picture?.imageSrc" alt="./assets/images/profile.png ">
                    <div class="text-block">
                        <h4>{{userName}}</h4>
                    </div>
                </div>


                <button (click)="logout()" class="topButtons" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <a mat-button>
                        <span>Logout</span>
                    </a>
                </button>

                <button class="topButtons" mat-menu-item>
                    <a mat-button routerLink="/upload-photo">
                        <mat-icon>photo</mat-icon>
                        <span>Change Image</span>
                    </a>
                </button>



                <!-- <img class="imageonClick" [src]="picture?.imageSrc" alt="./assets/images/profile.png">
                <button (click)="logout()" class="topButtons" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <a mat-button>
                        <span>Logout</span>
                    </a>
                </button>

                <button class="topButtons" mat-menu-item>
                    <a mat-button routerLink="/upload-photo">
                        <mat-icon>photo</mat-icon>
                        <span>Change Image</span>
                    </a>
                </button> -->


            </mat-menu>


        </mat-toolbar-row>
    </mat-toolbar>
</div>

<mat-divider></mat-divider>

<app-side-bar [toggleSidebar]="toggleNav"></app-side-bar>