
.image {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 600%;
    border: transparent;
    padding-top: 10%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
.collabEmail {
  outline: none
}

.collabRemoveIcon {
  float: right;
  cursor: pointer;
}
.collabEmail {
  margin-bottom: 10px;
}
.addButton{
  cursor: pointer;

}
  