<div style="margin-left: 32px;
margin-top: 31px;">
  {{collabUser}}
  <b>Collaborator</b>
  <mat-divider></mat-divider>
  <div style="margin-left: 111px;">
    <!-- <img class="image" [src]="picture?.imageSrc"> -->
    <i>{{OwnerEmailId.emailId}} (Owner)</i>
  </div> <br><br>

  <div *ngFor="let item of data.collaborators">
    <div class="collab">
      {{item.name}}
    </div>
    <div>
      <div class="collabEmail">
        {{item.collEmailId}}
        <i class="material-icons collabRemoveIcon" (click)="deleteCollab(item.collEmailId,data,item.id)">
          close
        </i>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width" style="    margin-top: -41px;">
      <input type="text" #search aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of (emails| emailIdFilter: search.value)" [value]="option">
          {{option}}
          <button class="addButton" mat-button (click)=onAddCollab(option,data)>
            <span>Add</span>
          </button>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <mat-divider></mat-divider>
  <button mat-button [mat-dialog-close]="{'email':newEmail}" style="float:right;margin-right: 46px;">Close</button>
</div>