.outerLayout{
    align-items: center;
    align-content: center;
    padding-left: 120px;
    padding-top: 15px;
    padding-bottom: 80px;
    width: 100px;
}

.Button{
    border-color: transparent;
    background-color:white;

}

.bottomButtons{
    border-bottom-color: white;
    align-items: center;
    align-content: center;
}

.icons{
    color:lightslategrey
}

.far-fa-heart{
    color: black; 
    background-color: black ;
     float:right;
}

.matCard{
    padding-top: 50px;
    align-items: center;
    align-content: center;
    background-color:white;
    width: 400px; 
    border-color: white;
    height: 200px;
}

.inputs{
    align-content: center;
    align-items: center;
    padding-left: 100px;
    background-color: white;
}