.outerLayout{
    align-items: center;
    padding-left: 120px;
    padding-top: 15px;
    background-color: "wheat" ; 
    width: 570px;
}

.Button{
    border-color: transparent;
    background-color:white;

}

.bottomButtons{
    border-bottom-color: white;
}

.icons{
    color:lightslategrey
}

.far-fa-heart{
    color: black; 
    background-color: black ;
     float:right;
}