

:host {
    .notegrid {
    &-container {
      margin: 10px 20px;
    }
      &-grid-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          height: fit-content;
          width:400px;
          position: relative;
          box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);
}
      }
      &-list-view {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:400px;
          height: fit-content;
          position: relative;
          box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);
}
      }
}
.container {
    .mat-card-header {
        display: flex;
        justify-content: space-between;
        button {
            &.pinned-icon {
                // background-color:orange;
                width:20px;
            }
            img {
                width:20px;
            }
        }
    }
    
}

.colorMenuDiv {
    width:136px;
    height:110px;
    position:absolute;
    z-index: 2;
    border:1px solid #e8e8e8
}

.colorMenuButton {
    height:26px;
    width:26px;
    margin:4px;
}

.button{
  background-color: transparent;
  margin-left: 2%;
  margin-right: 2%;

}

}