<div align="center">
    <i>Pinned Notes are</i>
  </div>

<div  class="container" fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="stretch" align="center">
  <div *ngFor="let products of products" class="notegrid" [ngClass]="grid ? 'notegrid-grid-view': 'notegrid-list-view'" >
    <mat-card  [style.background-color]="products.colore">
      <i class="fa fa-eyedropper" (click)="changeColor(products)" id="{{products.title}}"
        style="color: black; background-color: black ; float:right"></i>
      <mat-card-content class="cardContent" (click)="openDialog(products)">
        <input matInput placeholder="Title" value={{products.title}} [formControl]="title"> <br><br><br>
        <input matInput placeholder="Description" value="{{products.discription}}" [formControl]="discription">
      </mat-card-content>
      <mat-chip-list #chipList class="chipList">
        <mat-chip *ngFor="let label of products.labelList" [removable]="removable"
          (removed)="removeLabel(label,products)">
          {{label.labelName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list><br>
      <div class="bottomButtons" [style.background-color]="products.colore">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button matTooltip="Remind me">
          <mat-icon class="icons">add_alert</mat-icon>
        </button>
        <button (click)="onClickDialogBox(products)" mat-icon-button matTooltip="Collaborator" class="Button"
          [style.background-color]="products.colore">
          <mat-icon class="icons">person_add</mat-icon>
        </button>
        <i class="material-icons innerIconDiv" (click)="colorChange()">
          color_lens
        </i>
        <div *ngIf="colorMenu" class="colorMenuDiv">
          <button class="colorMenuButton" mat-mini-fab *ngFor="let customColor of colors"
            [style.background]="customColor" (click)="addColor(customColor,products)">
          </button>
        </div>

        <button mat-icon-button matTooltip="Add image">
          <mat-icon class="icons">image</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Archive">
          <mat-icon class="icons" (click)=onArchive(products)>archive</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="more" matTooltip="more">
          <mat-icon class="icons">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu" class="morecard">
          <button mat-button (click)=onTrash(products)>Delete Note</button>
          <button (click)="onClickDialog(products)" mat-button class="morecard"> Add Label</button>
        </mat-menu>
        <button mat-icon-button matTooltip="undo">
          <mat-icon class="icons">undo</mat-icon>
        </button>
        <button mat-icon-button matTooltip="redo">
          <mat-icon class="icons">redo</mat-icon>
        </button>
      </div>
    </mat-card><br><br>
  </div>
</div>
