<div align="center" *ngIf="products">
    <i>Pinned Notes are</i>
  </div>

<div  class="container" fxLayout="column" fxLayoutGap="10%" fxLayoutAlign="stretch" align="center">
  <div *ngFor="let products of products" class="notegrid" [ngClass]="grid ? 'notegrid-grid-view': 'notegrid-list-view'" >
    <mat-card  [style.background-color]="products.colore">
      <i class="fa fa-eyedropper" (click)="changeColor(products)" id="{{products.title}}"
        style="color: black; background-color: blue; ; float:right"></i>

        <mat-card-title>

          <div *ngFor="let item of products.imageList">
  
            <img [src]="transformImage(item)" height="20%" width="20%" style="float: left;" />
  
          </div>
  
        </mat-card-title>

      <mat-card-content class="cardContent" (click)="openDialog(products)" (onStatusChange)="childStatusChanged($event)">
        <input matInput placeholder="Title" value={{products.title}} [formControl]="title"> <br><br><br>
        <input matInput placeholder="Description" value="{{products.discription}}" [formControl]="discription">
      </mat-card-content>
      <mat-chip-list #chipList class="chipList">
          <mat-chip *ngIf="products.reminder" [removable]="removable" (removed)="removeReminder(products)">
              <mat-icon>timer</mat-icon>  
              {{products.reminder | date:'short'}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>

        <mat-chip *ngFor="let label of products.labelList" [removable]="removable"
          (removed)="removeLabel(label,products)">
          {{label.labelName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list><br>
      <div class="bottomButtons" [style.background-color]="products.colore">
        <button class="button" mat-icon-button matTooltip="Remind me" (click)="openRemainder(products)">
          <mat-icon>add_alert</mat-icon>
        </button>
        <button class="button" (click)="onClickDialogBox(products)" mat-button matTooltip="Collaborator" 
          [style.background-color]="products.colore">
          <mat-icon>person_add</mat-icon>
        </button>
        &nbsp;&nbsp;<i class="material-icons innerIconDiv" (click)="colorChange(products)">
          color_lens
        </i>&nbsp;&nbsp;
        <div *ngIf="products.colorMenu==100" class="colorMenuDiv">
          <button class="colorMenuButton" mat-mini-fab *ngFor="let customColor of colors"
            [style.background]="customColor" (click)="addColor(customColor,products)" >
          </button>
        </div>

        <!-- <button class="button" mat-button matTooltip="Add image">
          <mat-icon class="icons">image</mat-icon>
        </button> -->

        <i class="material-icons innerIconDiv" (click)="fileInput.click()">
          photo
        </i>
        <input #fileInput type="file" style="display:none" (change)="onFileSelected($event,products)">
        
        <button class="button" mat-button matTooltip="Archive">
          <mat-icon class="icons" (click)=onArchive(products) (onStatusChange)="childStatusChanged($event)">archive</mat-icon>
        </button>

        <button class="button" mat-button [matMenuTriggerFor]="more" matTooltip="more">
          <mat-icon >more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu" class="morecard">
          <button mat-button (click)="onTrash(products);childStatusChanged($event)">Delete Note</button>
          <button (click)="onClickDialog(products)" mat-button class="morecard"> Add Label</button>
        </mat-menu>
        <button class="button" mat-button matTooltip="undo">
          <mat-icon >undo</mat-icon>
        </button>
        <button class="button" mat-button matTooltip="redo">
          <mat-icon >redo</mat-icon>
        </button>
      </div>
    </mat-card><br><br>
  </div>
</div>
