<!-- <mat-toolbar>

    <mat-accordion fxFlex="80%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
        <mat-expansion-panel (opened)="showHeader = false" (closed)="showHeader = true" hideToggle="true">
            <mat-expansion-panel-header>
                <ng-container *ngIf="showHeader;else tempTtext">
                    <mat-panel-title>
                        <h5>Take a note..</h5>
                        <input  placeholder="Take a note" style="width: 500px;" > &nbsp;


                        <button mat-icon-button matTooltip="new list">
                            <mat-icon>check_box</mat-icon>
                        </button>



                        <button mat-icon-button matTooltip="new note with image">
                            <mat-icon>image</mat-icon>
                        </button>



                    </mat-panel-title>
                </ng-container>
                <ng-template #tempTtext>
                    <!-- <input  placeholder="Take a note" style="width: 500px;" > &nbsp;
                    <h5>Title</h5>
                </ng-template>
            </mat-expansion-panel-header>

            <mat-panel-description>
                <div>
                    <input matInput placeholder="Take a note" style="width: 500px;">&nbsp;
                </div>
            </mat-panel-description>
            <mat-panel-description>
                <div>
                    <button mat-icon-button matTooltip="remainder">
                        <mat-icon>notifications</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="change color">
                        <mat-icon>color_lens</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="collaborator">
                        <mat-icon>person_add</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="image upload">
                        <mat-icon>image</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="archive">
                        <mat-icon>archive</mat-icon>
                    </button>

                </div>

            </mat-panel-description>




        </mat-expansion-panel>
    </mat-accordion>
</mat-toolbar> -->
<router-outlet></router-outlet>