<h3>Archeived Notes are</h3>

<mat-card class="card">
    <mat-accordion *ngFor="let products of products">
        <mat-expansion-panel *ngIf="products.archive">
            <mat-expansion-panel-header (click)=openDialog(products)>
                <mat-panel-title>
                    <div class="container">
                        <mat-form-field>
                            <input matInput placeholder="Title" value={{products.title}} [formControl]="title">
                        </mat-form-field>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
            </mat-panel-description>
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="Discription" value="{{products.discription}}"
                        [formControl]="discription">
                </mat-form-field>
            </div><br>
            Icons here
            <div fxLayout="row">
                <button class="button" (click)=onUnArchive(products) mat-icon-button 
                    matTooltip="archive">
                    <mat-icon>archive</mat-icon>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-icon-button  matTooltip="more">
                    <mat-icon>more</mat-icon>
                </button>
            </div>
        </mat-expansion-panel>
        <br> <br> <br> <br> <br>
    </mat-accordion>
</mat-card>