.bottomButtons{
    border-bottom-color: white;
}

.outerLayout{
    align-items: center;
    padding-left: 100px;
    padding-top: 15px;
    border-top-color: black;
    padding-bottom: 80px;
    width: 570px;
}

.Button{
    border-color: transparent;
    background-color: white;
    

}

.morecard{
    background-color:white;
    border: transparent
}

.icons{
    color:lightslategrey
}