

:host {
    .notegrid {
    &-container {
      margin: 10px 20px;
    }
      &-grid-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:300px;
          height: fit-content;
          position: relative;
          box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);
}
      }
      &-list-view {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        mat-card{
          width:400px;
          height: fit-content;
          position: relative;
          box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);
}
      }
}
.containerr {
    .mat-card-header {
        display: flex;
        justify-content: space-between;
        button {
            &.pinned-icon {
                // background-color:orange;
                width:20px;
            }
            img {
                width:20px;
            }
        }
    }
    
}

// .bottomButtons{
//  align-content: center;
//  align-items: center
// }


.chipList{
    background-color: transparent;
}

.colorMenuDiv {
    width:136px;
    height:110px;
    position:absolute;
    z-index: 2;
    border:1px solid #e8e8e8
}

.colorMenuButton {
    height:26px;
    background-color: red;
    width:26px;
    margin:4px;
}

.matCard1{
    padding-top: 50px;
    background-color:white;
    align-content: center;
    align-items: center;
    width: 400px; 
    box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);

}

// .cardContent{
//     width: 50%;
//     height: 50%;
//     padding-top: 0%;
// }

.button{
    background-color: transparent;
    // padding-left: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
}