<app-note-create></app-note-create>
<br>
<br>
<br>
<mat-card class="card">
    <mat-accordion *ngFor="let products of products">
        <mat-expansion-panel>
            <!-- *ngIf="!products.archive" -->
            <mat-expansion-panel-header (click)=openDialog(products)>
                <mat-panel-title>
                    <div class="container">
                        <mat-form-field>
                            <input matInput placeholder="Title" value={{products.title}} [formControl]="title">
                        </mat-form-field>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
            </mat-panel-description>
            <!-- </mat-expansion-panel-header> -->
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="Discription" value="{{products.discription}}"
                        [formControl]="discription">
                </mat-form-field>
            </div><br>
            <!-- Icons Here -->

            <!-- <md-button> 
                    <md-icon></md-icon>
                    <md-tooltip></md-tooltip>
                 </md-button> -->

            <div fxLayout="row">
                <!-- <button class="button" (click)="delete(products)" mat-icon-button [matMenuTriggerFor]="delete"
                    matTooltip="delete"> 
                    <mat-icon>delete</mat-icon>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

                <button class="button"  (click)=onTrash(products) mat-icon-button [matMenuTriggerFor]="Archive"
                    matTooltip="archive">
                    <mat-icon>archive</mat-icon>
                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-icon-button [matMenuTriggerFor]="more" matTooltip="more">
                        <mat-icon>more</mat-icon>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
        
                    <mat-menu #more="matMenu">
                        <button mat-menu-item (click)=onTrash(products)> 
                            <span>delete</span>
                        </button>
                        <button mat-menu-item>
                            <span>add label</span>
                        </button>
                    </mat-menu>
            </div>
        </mat-expansion-panel>
        <br> <br> <br> <br> <br>
    </mat-accordion>
</mat-card>