.navbar{
    display: flex;
  }
  
  
  #input{
    width: 91%;
    height: 75%;
    border: hidden;
    display: flex;
    outline: none;
    background-color: white;
    align-self: auto;
  }
  #text{
    margin-left: 20px
  }
  
  #searchbox{
    margin-left: 30px;
    width: 100%;
    height: 74%;
  }
  #refresh{
    margin-right: 18px;
    margin-left: 80px;
  }
  #viewstream{
    margin-right: 45px
  }
  #apps{
    margin-right: 24px
  }
  #notification{
    margin-right: 15px
  }
  #accountcircle{
    margin-right: 0px
  }
  #insidenave{
    width: 250px;
  }

  #button{
    border-style: none;
    width: 100%;
    font-family: sans-serif;
    padding-left: 10%;
    height: 56px;
    padding: 5px;
    background-color: white;
    align-self: auto;
    cursor: pointer;
  }
  #imgNotes{
    margin-right: 42px;
    margin-left: -116px;
    background-color: white;
    align-self: auto;
  
  }
  #imgRem{
    margin-right: 34px;
    margin-left: -90px;
    align-self: auto;
  }
  #imglab{
  margin-right: 18px;
  margin-left: -89px;
  }
  #imgArc{
    margin-right: 42px;
    margin-left: -116px;
  }
  #imgtrace{
    margin-right: 42px;
    margin-left: -126px;
  }
  #imgSet{
    margin-right: 42px;
    margin-left: -116px;
  }
  #imgfeed{
    margin-right: 30px;
    margin-left: -78px;
  
  }
  #imghelp{
    margin-right: 42px;
    margin-left: -134px;
  }
  #imgdn{
    margin-right: 31px;
    margin-left: -74px;
  
  }
  #imgkb{
    margin-right: 26px;
    margin-left: -50px;
  }
  #editbutton{
  margin-left: 104px;
  border: none;
  background-color: white;

  }
  
  #line{
  
    height: -5px;
    border: white 1px solid;
  }
  .example-container {
    width: 100%;
    height: 90%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .logoutcard{
    width: 15%;
    margin-left: 81%;
    text-align: center;
    margin-bottom: -128px;
    z-index: 8;
  }
  
  .labelsbutton{
    border-style: none; 
     width: 100%;
    font-family: sans-serif;
    height: 56px;
    padding: 5px 
  }
  .txtt{
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden !important;
  }
  .buttonn{
    align-self: auto;
    border: none;
    width: 250px;  
  }
  .labelbutton{
    width: 250px;
    border: none;
  }
  .txtt{
    margin-top: -2px;
  }
  input {
      border: none;
      background:white;
      align-self: auto;
  } 
  
  mat-expansion-panel {
    width: 60%;
    box-shadow:50% 50%;
  }
  
  mat-card {
    width: 50%;
    height: 50%;
  }
  custButton{
      align-self: auto;
  }

  .description {
    padding-left: 32px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
