.bottomButtons{
    border-bottom-color: white;
    align-items: center;
    align-content: center;
}
/* 
.outerLayout{
    align-items: center;
    align-content: center;
    padding-left: 80%;
    padding-top: 15px;
    padding-bottom: 80px;
    width: 100px;
} */

.Button{
    border-color: transparent;
    background-color:white;
}
.icons{
    color:black
}

.outerLayout{
    align-items: center;
    align-content: center;
    padding-left: 30%;
    padding-top: 15px;
    padding-bottom: 80px;
    width: 100px; 
}


.matCard{
    padding-top: 50px;
    align-items: center;
    align-content: center;
    width: 400%; 
    height: 25%;
    box-shadow: 0 14px 28px rgba(110, 108, 108, 0.22), 0 10px 10px rgba(110, 108, 108, 0.22);

}

.inputs{
    align-content: center;
    align-items: center;
    padding-left: 05%;
}

.restore-deleteButtons {
    align-items: baseline;
    background-color:white;
    height: 10%;
    width: 10%;
    border: transparent;
    padding-right: 20%;
    padding-left: 20%;
}
.restore-deleteButtons{
    margin-left: 5%;
}