.bottomButtons{
    border-bottom-color: white;
}

.outerLayout{
    align-items: center;
    padding-left: 120px;
    padding-top: 0px;
    padding-bottom: 30px;
    width: 570px; 
    background-color: white;
}

.Button{
    border-color: transparent;
    background-color: white;

}
.icons{
    color:lightslategrey
}