<h3> In trash notes are</h3>
<mat-card class="card">
  <mat-accordion *ngFor="let products of products">
    <mat-expansion-panel >
        <!-- *ngIf=products.inThrash -->
      <mat-expansion-panel-header (click)=openDialog(products)>
        <mat-panel-title>
          <div class="container">
            <mat-form-field>
              <input matInput placeholder="Title" value={{products.title}} [formControl]="title">
            </mat-form-field>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
      </mat-panel-description>
      <div class="container">
        <mat-form-field>
          <input matInput placeholder="Discription" value="{{products.discription}}" [formControl]="discription">
        </mat-form-field>
      </div><br>
      Icons here
      <mat-card-actions>
        <div id="signButton">
          <button mat-button (click)="delete(products.id)">delete</button></div>
        <div id="signButton">
          <button mat-button (click)="Archive(products)">Archive</button></div>
      </mat-card-actions>
    </mat-expansion-panel>
    <br> <br> <br> <br> <br>
  </mat-accordion>
</mat-card>