<div *ngFor="let products of (notes | searchFilter : search)">



  <div fxLayout="column" fxLayoutAlign="stretch" align="center">
    <mat-card class="matCard1" [style.background-color]="products.colore">
      <i class="fa fa-eyedropper" (click)="changeColor(products)" id="{{products.title}}"
        style="color: black; background-color: white ; float:right"></i>
      <mat-card-content (click)="openDialog(products)">
        <input matInput placeholder="Title" value={{products.title}} [formControl]="title"> <br><br><br>
        <input matInput placeholder="Description" value="{{products.discription}}" [formControl]="discription">
      </mat-card-content>
      <mat-chip-list #chipList class="chipList">
          <mat-chip *ngIf="products.reminder" [removable]="removable" (removed)="removeReminder(products)">
              <mat-icon>timer</mat-icon>  
              {{products.reminder | date:'short'}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
        <mat-chip *ngFor="let label of products.labelList" [removable]="removable"
          (removed)="removeLabel(label,products)">
          {{label.labelName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list><br>
      <div class="bottomButtons" [style.background-color]="products.colore">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button" mat-icon-button matTooltip="Remind me" (click)="openRemainder(products)"
          [style.background-color]="products.colore">
          <mat-icon class="icons">add_alert</mat-icon>
        </button>
        <button class="button" (click)="onClickDialogBox(products)" mat-button matTooltip="Collaborator"
          [style.background-color]="products.colore">
          <mat-icon>person_add</mat-icon>
        </button>&nbsp;&nbsp;
        <i class="material-icons innerIconDiv" (click)="colorChange()">
          color_lens
        </i>&nbsp;&nbsp;
        <div *ngIf="colorMenu" class="colorMenuDiv">
          <button class="colorMenuButton" mat-mini-fab *ngFor="let customColor of colors"
            [style.background]="customColor" (click)="addColor(customColor,products)">
          </button>
        </div>

        <button class="button" mat-button matTooltip="Add image" [style.background-color]="products.colore">
          <mat-icon>image</mat-icon>
        </button>
        <button class="button" mat-button matTooltip="Archive" [style.background-color]="products.colore">
          <mat-icon (click)=onArchive(products)>archive</mat-icon>
        </button>

        <button class="button" mat-button [matMenuTriggerFor]="more" matTooltip="more"
          [style.background-color]="products.colore">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu" class="morecard">
          <button class="button" mat-button (click)=onTrash(products)>Delete Note</button>
          <button (click)="onClickDialog(products)" mat-button class="morecard"> Add Label</button>
        </mat-menu>
        <button class="button" mat-button matTooltip="undo" [style.background-color]="products.colore">
          <mat-icon>undo</mat-icon>
        </button>
        <button class="button" mat-button matTooltip="redo" [style.background-color]="products.colore">
          <mat-icon>redo</mat-icon>
        </button>
      </div>
    </mat-card><br><br>
  </div>
</div>