.outerLayout{
    align-items: center;
    align-content: center;
    padding-left: 120px;
    padding-top: 15px;
    padding-bottom: 80px;
    width: 100px; 

}

.Button{
    border-color: transparent;
    background-color:white;

}

.bottomButtons{
    border-bottom-color: white;
    align-items: center;
    align-content: center;
}

.icons{
    color:black;
}

.matCard{
    width: 50%;
    height: 20%;
    display: block;
    margin-left:auto;
    margin-right:auto; 
    padding-top: 10%;
    /* vertical-align:middle; */
}

.inputs{
    padding-left: 100px;
    background-color: white;

}

.chipList{
    background-color: transparent
}

.outerLayout{
    align-items: center;
    align-content: center;
    padding-left: 26%;
    padding-top: 15px;
    padding-bottom: 80px;
    background-color: transparent;
    width: 100px; 
}

.Button{
    border-color: transparent;
}

.bottomButtons{
    border-bottom-color: white;
    align-items: center;
    align-content: center;
}

.icons{
    color:black;
    border: transparent
}

.matCard{
    padding-top: 50px;
    align-items: center;
    align-content: center;
    background-color:white;
    width: 400px; 
    border-color: white;
    height: 200px;
}

.colorMenuDiv {
    width:136px;
    height:110px;
    position:absolute;
    z-index: 2;
    border:1px solid #e8e8e8
}

.colorMenuButton {
    height:26px;
    width:26px;
    margin:4px;
}

.matCard1{
    padding-top: 50px;
    background-color:white;
    align-content: center;
    align-items: center;
    width: 400px; 
    height: 200px;
}

.cardContent{
    width: 50%;
    height: 50%;
    padding-top: 0%;
}
.button{
    margin-left: 2%;
    margin-right: 2%;
}